.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 400px;
    background-color: white
}

body {
    height: 100vh;
    background: white;
}

.sidebaritem {
    font-family: "Quicksand", sans-serif;
}

.logo {
    font-size: 50px;
    margin: 25px;
    font-weight: 400;
}

.items {
    font-size: 25px;
    margin: 20px;
    font-weight: 350;
}

.main-items {
    display: flex;
    flex-wrap: wrap;
    padding-left: 500px;
    gap: 50px;
    margin-top: 40px
}

.main-items img {
    width: 265px;
    height: 250px;
    object-fit: cover;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}